{{ template "layout1" . }}

<section class="page-section content" id="awards">
    <div class="page-section-content">
        <h2 class="mb-5">What this app does here</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                feature one
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                feature two
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                feature three
            </li>
        </ul>
    </div>
</section>

{{ template "layout2" . }}