{{ template "layout1" . }}

<section class="page-section" id="experience">
    <div class="page-section-content">
        <h2 class="mb-5">Contact Information</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Request assistance</h3>
                <div class="subheading mb-3">via email</div>
                <p>steps here.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">link</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Submit ticket</h3>
                <div class="subheading mb-3">slack</div>
                <p>steps here.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">link</span></div>
        </div>
    </div>
</section>

{{ template "layout2" . }}